<!DOCTYPE html>
<html>
  <head>
    <%- include('./_blocks/head', { siteTitle: `${tag.name} | ${themeConfig.siteName}`, nowHost: '../../' }) %>
  </head>
  <body>
    <div id="app" class="main">

      <%- include('./_blocks/sidebar', { nowHost: '../../' }) %>

      <div class="main-container">
        <div class="content-container" data-aos="fade-up">
          <h2 class="current-tag">标签: <%= tag.name %></h2>
          <% posts.forEach(function(post) { %>
            <% post.link = "../../" + post.link %>
            <article class="post-item">
              <div class="left">
                <h2 class="post-title">
                  <a href="<%= post.link %>" title="<%= post.title %>">
                    <%= post.title %>
                  </a>
                </h2>
                <div class="post-date">
                  <%= post.dateFormat %>
                </div>
                <div class="post-abstract">
                  <%- post.abstract %>
                </div>
              </div>
              <% if (themeConfig.showFeatureImage && post.feature) { %>
                <a class="right" href="<%= post.link %>">
                  <div class="feature-container" style="background-image: url('<%= post.feature %>')">
                  </div>
                </a>
              <% } %>
            </article>
          <% }); %>

          <%- include('./_blocks/pagination') %>
        </div>
      </div>
    </div>

    <%- include('./_blocks/scripts') %>
  </body>
</html>
